NIXPACKS_NODE_VERSION=22

NEXT_PUBLIC_DEPLOYMENT="staging"
NEXT_PUBLIC_URL="http://localhost:3000"

NEXT_PUBLIC_UNIDY_API_URL="https://your-unidy-instance.com"
NEXT_PUBLIC_UNIDY_API_KEY="your-api-key"
UNIDY_ADMIN_CLIENT_ID="your-admin-client-id"
UNIDY_ADMIN_CLIENT_SECRET="your-admin-client-secret"
UNIDY_DUMMY_TICKET_CATEGORY_ID="your-ticket-category-id"
UNIDY_DUMMY_SUBSCRIPTION_CATEGORY_ID="your-subscription-category-id"
